<div class="container-fluid py-3" id="video__container">
  <div
    class="row text-white text-center justify-content-center h1 m-1"
    contenteditable="false"
  >
    <b>Limited Time Special Offer:</b>Get Immediate Access To<br />My "Playbook
    To Millions" Video Training Package...
  </div>

  <div class="row mt-2">
    <iframe
      width
      height
      allow="autoplay"
      src="https://fast.wistia.net/embed/iframe/nphdn5mvop?muted=true&amp;autoplay=1&amp;&amp;wmode=transparent"
      allowtransparency="true"
      frameborder="0"
      scrolling="no"
      class="wistia_embed"
      name="wistia_embed"
      allowfullscreen
      mozallowfullscreen
      webkitallowfullscreen
      oallowfullscreen
      msallowfullscreen
      wmode="opaque"
    ></iframe>
  </div>

  <div class="row text-white justify-content-center text-center h6 mt-3">
    (Watch This Quick 2 Minute Video)
  </div>
</div>