<div class="container-fluid p-0">
  <div class="row">
    <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
      <img src="assets/images/cardone-logo.png" id="cardone-logo" />
    </div>

    <div
      class="col-lg-8 col-sm-12 d-flex justify-content-center text-uppercase h6 text-nowrap mt-3 mt-lg-auto"
    >
      Thank you for your order of <b class="fw-bold">"10X Rule"</b>!
    </div>
  </div>
  
  <div class="row p-0 "><app-video-section></app-video-section></div>
  
  <div class="row p-0">
     <app-countdown></app-countdown>
  </div>


  <div>
 <!-- <span class="wistia_embed wistia_async_nphdn5mvop popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:84px;position:relative;width:150px" >&nbsp;</span> -->

 <!-- <div class="de elVideoWrapper de-video-block elMargin0 elVideoWidth100 elVideoSkin0 ui-droppable de-editable" id="tmp_video-55894-104" data-de-type="video" data-de-editing="false" data-title="sales video" data-ce="false" data-trigger="load" data-animate="fade" data-delay="1500" style="outline: none; cursor: pointer; display: block; margin-top: 0px;" data-video-type="wistia" data-youtube-url="https://youtu.be/7IdqWo2jLC8" data-youtube-autoplay="yes" data-youtube-controls="no" data-wistia-url="https://grantcardone.wistia.com/medias/nphdn5mvop" data-wistia-autoplay="yes" data-wistia-width data-wistia-height aria-disabled="false" data-youtube-branding="no">
    <div class="elVideoplaceholder">
        <div class="elVideoplaceholder_inner"></div>
    </div>
     
</div> -->

  </div>
 
</div>
