<div class="container p-0">
  <div class="row">
    <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
      <img src="assets/images/cardone-logo.png" id="cardone-logo" />
    </div>

    <div
      class="col-lg-8 col-sm-12 d-flex justify-content-center text-uppercase h6 text-nowrap mt-3 mt-lg-auto"
    >
      Thank you for your order of <b class="fw-bold">"10X Rule"</b>!
    </div>
  </div>
</div>

<div class="container-fluid p-0">
  <app-video-section></app-video-section>
</div>

<div class="container p-0">
  <div class="row p-0">
    <app-countdown></app-countdown>
  </div>

  <div class="row mx-2 pt-3">
    <div class="col-lg-12 col-sm-12">
      <img class="w-100" src="assets/images/playbook-includes-wide.png" />
    </div>
  </div>

  <div class="row pt-3">
    <app-testimonials></app-testimonials>
  </div>

  <div class="row pt-3">
    <h1 class="h1 text-black-80 text-center fw-bold">
      YOUR GUIDE TO FINANCIAL FREEDOM!
    </h1>
  </div>
</div>

<div class="container-fluid p-0">
  <app-playbook></app-playbook>
</div>

<div class="container p-0">
  <div class="row p-0">
    <app-countdown></app-countdown>
  </div>
</div>
