<div class="container-fluid footer__container pb-5">
  <div class="row pt-4">
    <ng-container
      *ngTemplateOutlet="
        footerItem;
        context: { picture: 'gurantee.png', label: 'Money Back Guarantee' }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        footerItem;
        context: { picture: 'ssl.png', label: 'Privacy Guaranteed' }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        footerItem;
        context: { picture: 'secure.png', label: '100% Secure Information' }
      "
    ></ng-container>
  </div>

  <div class="row justify-content-center gap-4">
    <div
      class="col-sm-12 col-md-4 d-flex justify-content-center justify-content-md-end"
    >
      <a
        class="text-black text-decoration-none"
        href="https://grantcardone.com/pages/terms-of-use"
        target="_blank"
        >Terms of Use</a
      >
    </div>

    <div
      class="col-sm-12 col-md-auto d-flex justify-content-center justify-content-md-center"
    >
      <a
        class="text-black text-decoration-none"
        href="https://grantcardone.com/pages/privacy-policy"
        target="_blank"
        >Privacy Policy</a
      >
    </div>

    <div
      class="col-sm-12 col-md-4 d-flex justify-content-center justify-content-md-start"
    >
      <a
        class="text-black text-decoration-none"
        href="https://grantcardone.com/pages/about-us"
        target="_blank"
        >About</a
      >
    </div>
  </div>
</div>

<ng-template #footerItem let-picture="picture" let-label="label">
  <div
    class="py-2 col-sm-12 col-md-4 d-flex flex-column justify-content-center align-items-center gap-2"
  >
    <img class="h-75" [src]="'assets/images/' + picture" />

    <p class="text-center footer__item_label">{{ label }}</p>
  </div>
</ng-template>
